 <tr>
    <td><%= rackitem.asset.asset %></td>
    <td><%= rackitem.ipaddress %></td>
    <td><%= rackitem.serverrack.name %></td>
    <td><%= link_to 'Show', rackitem %> | <%= link_to 'Edit', edit_rackitem_path(rackitem) %></td>

  </tr>