<tr>
	<td><% if person.image_file_name.nil? %>
         
            <%= image_tag "user.png", :class => "media-object" %>
           <% else %>
            <%= link_to image_tag(person.image(:small)), "#userModal#{person.id}", :data => {:toggle=>"modal"},
:class=>"btn" %>
          <%end%>
	</td>
	<td><%= person.username %></td>
	<td><%= person.title %></td>
  </tr>
 <%= render 'show', :person => person %>
