
<%= link_to 'New Person', new_person_path, :class => "btn btn-primary" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @people %>
  </tbody>

</table>

<br />


Import People
<%= form_tag import_people_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
