
<%= form_tag import_people_path do %>
<%= link_to raw('<i class="icon-plus icon-white"></i>'), new_person_path, :class => "btn btn-primary pull-right hidden-phone" %>
  <%= button_tag(type: "submit", class: "btn btn-warning pull-right") do %>
    <i class="icon-arrow-up icon-white"></i>
  <%end%>
    <input type="text" class="search-query" placeholder="Search">
<% end %>



    <%= render @people %>

<div class="pagination-centered">
  <%= will_paginate @people %>
</div>


