
<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<div class="media">
				<a class="pull-left" href="#">
						<%= image_tag "user.png", :class => "media-object" %>
				</a>
				<div class="media-body">
					<div class="media">
						<h4 class="media-heading"> <%= @person.username%></h4>
						<b>Title:</b> <%= @person.title %></br>
					  <b>Department:</b> <%= @person.department %></br>
					  <b>Office:</b> <%= @person.office %></br>
			 	</div>
 			 </div>
 			 
			 </div>
		</div>
				<%= link_to 'Edit', edit_person_path(@person) %> |
				<%= link_to 'Back', people_path %>
		
	</div>
</div>
