<tr>
	
	<% if device.image_file_name.nil? %>
		<td> <%= image_tag "monitor.png" %></td>
	<% else %>
		<td><%= image_tag device.image(:small) %></td>
	<%end%>
	
  <td><%= link_to device.model, device_path(device) %></td>

  <td><%= link_to 'Edit', edit_device_path(device), :class => 'btn btn-mini btn-info'  %>|<%= link_to 'Delete', device_path(device), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %></td>
</tr>