<div class="row">
	<div class="span6 offset3">
		<div class="well">

			<%= image_tag @device.image %>

			<p>
			  <b>Make:</b> <%= @device.make %>
			</p>

			<p>
			  <b>Model:</b> <%= @device.model %>
			</p>


			<%= link_to 'Edit', edit_device_path(@device) %> |
			<%= link_to 'Back', devices_path %>
		</div>
	</div>
</div>
