<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<div class="media">
				<a class="pull-left" href="#">
					<% if @device.image_file_name.nil? %>
						<%= image_tag "monitor.png", :class => "media-object" %>
					<% else %>
						<%= image_tag @device.image(:small) %>
					<%end%>
				</a>
				<div class="media-body">
					<div class="media">
					  <b>Make:</b> <%= @device.make %></br>
					  <b>Model:</b> <%= @device.model %></br>
					  <b>Asset Type:</b> <%= @device.assettype %></br>
			 	</div>
 			 </div>
 			 
			 </div>
			<%= link_to 'Edit', edit_device_path(@device) %> |
			<%= link_to 'Back', devices_path %>
		</div>
	</div>
</div>
