</script>
<%= simple_form_for(@asset, html: {  :autocomplete => :off, class: "form-horizontal"}) do |f| %>
<div class="row">
  <div class="span12">
    <div class="row-fluid">
      <div class="span6">
        <%= f.input :assigned_to, placeholder: "Assigned To", :input_html => {  :'data-provide' => "typeahead", :'data-source' => [get_people.to_s] } %>
        <%= f.input :asset, as: :string, placeholder: "Asset Number"%>
        <%= f.input :serial, as: :string, placeholder: "Serial Number" %>
        <%= f.association :office, :collection => Office.order(:office), :label_method => :office  %>
        <%= f.association :device, :collection => Device.order(:model), :label_method => :model  %>
        <%= f.input :machine_name, as: :string, placeholder: "Machine Name"%>
         <%= f.input :client, as: :string, placeholder: "Client Name",  rel: 'tooltip', :input_html => { :'data-provide' => "typeahead", :'data-source' => [get_clients.to_s] } %>
      </div>
      <div class="span6">
        <%= f.input :po_num, as: :string, placeholder: "PO Number", :label => "PO Number" %>
        <%= f.input :order_num, as: :string, placeholder: "Order Number", :label => "Order Number" %>
        <%= f.input :comments, placeholder: "Comments", :input_html => { :rows => "3" } %>
      <%= f.input :aquired, :as => :string, placeholder: "Aquired Date"  %>     
       <%= f.input :refresh, :as => :string, placeholder: "Refresh Date" %>   
      <%= f.input :disposed, as: :boolean %>
    </div>
  </div>
</div>
</div>
<div class="form-actions">
    <%= f.submit :submit, class: "btn btn-primary" %>
</div>
<% end %>
