
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<div>
  <div class="pull-right">
    <%= link_to image_tag("excel.png"), assets_path(format: "xls"), :class => "hidden-phone" %>
    <%= link_to raw('<i class="icon-plus icon-white"></i>'), new_asset_path, :class => 'btn btn-primary hidden-phone' %>

  </div>
  <%= form_tag assets_path, :class => "form-search navbar-search", :autocomplete => :off, :method => 'get', :id => 'assets_search' do %>
     <%= text_field_tag :search, params[:search], :class => 'span8', placeholder: "Search" %>
  <% end %>

</div>
  <div id="assets">
    <%= render 'asset' %>
  </div>
  <div class="pagination-centered">
      <%= will_paginate @assets %>
    </div>
  <div class="tab-pane active" id="finance">
  </div>
</div>

