
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<%= link_to 'New Asset', new_asset_path, :class => 'btn btn-primary' %>
<div class="pull-right">
  <%= link_to image_tag("excel.png"), assets_path(format: "xls") %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "Asset", "Assets" %></th>
      <th><%= sortable "assigned_to", "Assigned To" %></th>

      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @assets %>
  </tbody>
</table>
<div class="pagination-centered">
  <%= will_paginate @assets %>
</div>

