
<div class="row">
	<div class="span12 clearfix label-inverse">

	  <h4 class="span3 white"><%= @serverroom.name %> - <%= @serverroom.office.office %></h4>
	  <h4 class="pull-right"><%= link_to raw('<i class="icon-plus icon-white"></i>Rack'), "#newServerrackModal",:data => {:toggle=>"modal"}, class: "btn btn-primary btn-mini" %>   _</h4>
	</div>
</div>
<div>
	
</div></br>
	<% @serverroom.serverrack.order('name').each do |r| %>
		<div class="well span3">
			<%= link_to "edit", edit_serverrack_path(r), class: "btn btn-info btn-mini pull-right" %>
			<strong>Rack Name:</strong> <%= link_to r.name, serverrack_path(r.id) %></br>
			<strong>Rack Size:</strong> <%= r.totalunits %></br>
			<strong>Rack Items:</strong> <%= r.rackitem.all.count %>
			
		</div>

	<%end%>

<%= render 'serverracks/new' %>