<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Openinventory</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/header' %>
	<div class="container">
		<div>
		<% flash.each do |name, msg| %>
			<div class="alert">
				<a class="close" data-dismiss="alert" href="#">&times;</a>
				<%= content_tag(:div, msg, class: "alert-#{name}") %>
			</div>
			<% end %>
		<%= yield %>
		
	</div>

</body>
</html>
